@use '../../style/base.scss' as *;

#sig-container {
    display: flex;
    scroll-snap-type: x mandatory;
    height: 100%;
    overflow-x: hidden;

    .sig-item {
        scroll-snap-align: center;
        display: grid;
        grid-template-columns: 2rem 1fr 2rem;
        width: 100%;
        flex-shrink: 0;

        a {
            background-color: $gray;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sig-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}